{% extends 'base.html.twig' %}

{% block title %} {{ article.title }} {% endblock %}

{% block body %}

    <div class="container">
        <h1>{{ article.title }}</h1>

        <hr>

        {{ article.content|raw }}
        <br>

        <h4 class="comment-title mb-5">
            <span id="comment-count">{{ article.comments|length }} commentaire(s)</span>
        </h4>

        <div class="comment-area mb-5">
            {{ form(commentForm, { 'attr': { 'class': 'comment-form' } }) }}
        </div>
    </div>

{% endblock %}
